<div class="row" *ngIf="loadin">
  <div class="col">
    <div class="alert alert-info text-center">
      <i class="fa fa-sync fa-spin fa-2x">
        <h5>Espere...</h5>
      </i>
    </div>
  </div>
</div>
<div class="card-columns" *ngIf="!loadin">
  <div class="card" *ngFor="let user of users">
    <img [src]="user.avatar" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title">{{user.first_name + ' ' + user.last_name}}</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to </p>
      <p class="card-text">
        <span class="text-muted">
           iD: {{user.id}}
        </span>
      </p>
    </div>
  </div>
</div>
<div class="row" *ngIf="error">
  <div class="col">
    <div class="alert alert-danger text-center">
      <i class="fa fa-times fa-2x">
        <h5>Error: {{error.status}}</h5>
        <p>{{error.message}}</p>
        <br><br>
        <p>{{error.url}}</p>
      </i>
    </div>
  </div>
</div>
